<div class="p-4 text-2xl flex flex-col gap-4 ">
    <div>
        Ime i prezime: {{user.name}}
    </div>
    <div>
        Email adresa: {{user.email}}
    </div>
    <div>
        Zaproka: 8=======D((*))
    </div>
</div>