<form method="post" action="/files" class="flex flex-col gap-2" enctype="multipart/form-data">
    <div class="pb-2 flex flex-col">
        <input type="file" name="file" class="file-input file-input-bordered w-full max-w-xs" />
    </div>
    <div class="pb-2 flex flex-row">
        <button name="file" class="btn btn-outline btn-success">Upload</button>
    </div>
</form>
